* {
    box-sizing: border-box;
}

.game {
    height: 90dvh;
    /* background-color: oklch(81.445% 0.09222 77.22 / 0.39); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.replay {
    padding: 25px 75px;
    font-size: 1.4rem;
    width: 400px;
}

.settings {
    padding: 25px 50px;
    font-size: 1.2rem;
    width: 400px;
    /* background-color: oklch(93.517% 0.00546 286.01); */
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 50px oklch(59.735% 0.00119 14.05 / 0.26) inset;
}

.fairness {
    flex-direction: column;
    border: 1px solid oklch(70.176% 0.01031 197.349);
}

.fairness h2 {
    font-size: 1.5rem;
    text-align: center;
}

.roundsLabel {
    border-radius: 5px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

.roundsInput {
    width: 60px;
    height: 40px;
    border-radius: 5px;
    background-color: oklch(95.815% 0.00011 271.152 / 0.63);
    box-shadow: 0px 5pt 5px  oklch(79.684% 0.00223 14.964 / 0.322) inset,
                0px -5px 5px oklch(70.84% 0.00279 106.916 / 0.466) inset;
}